body{
    background-color: rgb(48, 47, 47);
    
}
.throws{
    display: flex;
    gap: 15px;
    width: 330px;
}
.throw{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 10px;
    font-size: xx-large;
}
#answerText{
    height: 25px;
}
#enter{
    height: 25px;
}
.answer{
    display: flex;
    gap: 10px;
    width: 330px;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.redGreenBox{
    width: 330px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

.redGreen{
    background-color: gray;
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

.stats{
    background-color: rgb(204, 204, 204);
    width: 310px;
    height: 65px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}
